<h1>Example App</h1>
<p>
  The cool thing about developing a pure-typescript Angular library is, that it's like developing a regular app!
  This helps to develop libraries at a high pace, since you can use all the tools you're familiar with (angular cli etc.)
  and you'll have an example library-client to test things out. Here's an example from the library:
</p>
<libex-hello></libex-hello>
<p>
  And here we'll call the service 'Hello Service' from the library:
  <button id="hello-button" (click)="sayHello()">Click me</button>
</p>
<div class="hello">
  I'm outside of hello... but still I get styled... :(
</div>
